body {
    background-color: #FFF;
    margin: 30px;
    margin-top: 10px;
}
#contentContainer {
    min-height: 100vh; 
    border: 5px black solid;
    overflow: hidden;
    background-color: #F2F2F2;
    cursor: pointer;
}
#thing {
    background: red;
    width: 100px;
    height: 100px;
    position: relative;
    left: 50px;
    top: 50px;
}